<h1>New Todo</h1>
<%= form_with model: @todo do |form| %>
  <div>
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
   <div>
    <%= form.label :deadline %>
    <%= form.text_field :deadline %>
  </div>
   <div>
    <%= form.label :completed %>
    <%= form.text_field :completed %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end%>
