<h1>Todo info</h1>
<h2><%= @todo.title %></h2>
<p>todo_id: <%= @todo.id %></p>
<p>user_id: <%= @todo.user_id %></p>
<p>title: <%= @todo.title %></p>
<p>description: <%= @todo.description %></p>
<p>deadline: <%= @todo.deadline %></p>
<p>completed: <%= @todo.completed %></p>
<h4>Categories:</h4>
<% @todo.categories.each do |category|  %>
  <p><%= category.name %></p>
<% end %>

<a href="/todos">Back to all todos</a>

<% if current_user.id == @todo.user_id %>
  <%= link_to "Edit todo", edit_todo_path(@todo) %>
  <%= link_to "Destroy todo", todo_path(@todo), data: {turbo_method: :delete} %>
<% end %>