<h1>All categories</h1>
<% @categories.each do |category| %>
  <h2><%= category.name %></h2>
  <%= link_to "More Info", category %>
<% end %>
<%= link_to "New category", new_category_path %>
<%= link_to "All todo's", todos_path %>
<%= link_to "All todo's by Category", todosbycategories_path %>
